sudo: true
language: python
dist: xenial

# only intended for Linux and Mac jobs. Windows will overwrite install and script
install: python3 -m pip install --user .[dev]
script: python3 -m tox

stages:
- test
- name: "PYPI release"
  if: branch = master && type = push

jobs:
  include:
  # linux
  - python: '3.7'
  - python: '3.6'
#  - python: '3.5'

  # osx python 3.7
  - name: "Python: 3.7"
    os: osx
    # xcode 11 image comes with python 3.7
    osx_image: xcode11
    # language: python will error
    language: shell

  # osx python 3.6
  - name: "Python: 3.6"
    os: osx
    osx_image: xcode11
    language: shell
    # switch to python 3.6
    addons:
      homebrew:
        update: true
    before_install:
      - pyenv install 3.6.5
      - pyenv global 3.6.5
    # end switch

#  # osx python 3.5
#  - name: "Python: 3.5"
#    os: osx
#    osx_image: xcode11
#    language: shell
#    # switch to python 3.5
#    addons:
#      homebrew:
#        update: true
#    before_install:
#      - pyenv install 3.5.2
#      - pyenv global 3.5.2
#    # end switch

  # windows python 3.7
  - name: "Python: 3.7"
    os: windows
    # language: python will error
    language: shell
    # install python 3.7
    before_install:
      - choco install python --version 3.7.4
      - python -m pip install --upgrade pip
    install: python -m pip install .[dev]
    # On Windows, python3 does not exist
    script: python -m tox
    env: PATH=/c/Python37:/c/Python37/Scripts:$PATH

  # windows python 3.6
  - name: "Python: 3.6"
    os: windows
    language: shell
    before_install:
      - choco install python --version 3.6.8
      - python -m pip install --upgrade pip
      - python -m pip install pipenv
    install: python -m pip install .[dev]
    script: python -m tox
    env: PATH=/c/Python36:/c/Python36/Scripts:$PATH

#  # windows python 3.5
#  - name: "Python: 3.5"
#    os: windows
#    language: shell
#    before_install:
#      - choco install python --version 3.5.4
#      - python -m pip install --upgrade pip
#      - python -m pip install pipenv
#    install: python -m pip install .[dev]
#    script: python -m tox
#    env: PATH=/c/Python35:/c/Python35/Scripts:$PATH

  - stage: "PYPI release"
    install: 'pipenv install --dev pipenv-setup'
    script: 'pipenv-setup check'
    after_success: ''
    deploy:
      provider: pypi
      user: Madoshakalaka
      password:
        secure: KQizTecP7oH5S1zHk2dkFGqJHilEX43yitgGR91G1vmq4BBNRShu8Oq+uRpOX3Plz/oFyelnYhF987qq3xyg1E327ozX9EoQ+iDE3AKyBIBONUCAoe8pcG4XIwFsjdmOkw9ODeKq8VU8t+KSAvIPIEd27G6N6WQ+DVOcoyIn0uJsCB0jX32wqaCQO8yTf1A/qWVzYnt8aqBXToDiC0XprrodMgvrTExyhBLW5Y7zuiNgfGb6HtRHAa9nvoO3/V8Jn2yXlv/uzE0rsVll+w0mxz/fYRkjZIfk7ju8L4b49+gu/onG827pOwQkfswUwb3QsXRR4PugmTyNGVuX5svxT22K+kYZaJn646X/nkljYJMhYNjbtuSlZcfZyg8QEJ1jNNtWW48Gt5yOTc1HPdggOig9hygj+ctc/TeIEKzaCMx9S184+Sz8LzNSiHTsmde0SxgIcS/QM8+5xdJ2yr917qhqh8iiiBeD58bISKGk+cEQNqha1aIVU4G9JhQsknaKUDUnQ7sSiO3dUGOJqGpuDQzJr5O4TEC2Rf05VzLSpkfTTjAhIVTH4gE3EcEbGQlaa3VHZvftdFmAHEu9nueC9dolSFEwqu/yf+bv3LGBskEbDUQir21RbX3axuS9NvaZX33vNlyLFmI41Or2iaOopgJeHlhlxLESTX5EhjNmpf0=