[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pipenv-setup = {editable = true,path = "."}
pytest = "*"
pytest-mypy = "*"
pytest-cov = "*"
pytest-datadir = "*"
pytest-xdist = "*"
tox = "*"
autopep8 = "*"

[packages]
pipfile = "*"
black = {markers = "python_version>='3.6'",version = ">=19.10b0"}
colorama = "*"
packaging = "*"
requirementslib = "*"
vistir = "*"
autopep8 = {markers = "python_version<'3.6'"}
six = "*"
typing = {markers = "python_version<'3.7'"}
chardet = "*"

[scripts]
# use this to sync this pipfile to setup.py, explained in CONTRIBUTING.md
# `$ pipenv run sync-deps`
sync-deps = 'python -m pipenv_setup sync --dev --pipfile'
